@model IEnumerable<PROG7311_Task_2.Models.Product>

@{
    ViewBag.Title = "EmployeeMainPage";
}

<h2>EmployeeMainPage</h2>


<a href="@Url.Action("AddFarmer", "Employee")"><input type="button" class="btn-top btn-vitae shadow-bottom" value="Add Farmer" /></a>
<a href="@Url.Action("ProductListByFarmers", "Employee")"><input type="button" class="btn-top btn-vitae shadow-bottom" value="List of products by farmers" /></a>
<div class="jumbotron">
    <h1>Farmer Management</h1>
    <p class="lead">
        Welcome to farmer management app.
        As a employee  you can read the list of products that farmers are selling.
        You can add Farmer by clicking on a add Farmer button.
        You also log out of the app.
    </p>

</div>

