@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Farmer Management</h1>
    <p class="lead">Farmer management website is a website where farmers can add and view their products. Employee 
                    can add a farmer and view the products by each farmer. To login, click on the login tab.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

